body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #676060;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

#mainimg {
  grid-column: span 12;
  margin-left: 24px;
  margin-bottom: 24px;
  padding: 0;
}

.roundedbox {
  border: 2px solid  #8CCAF9;
  border-radius: 24px;
}

h1 {
  background-color: #8CCAF9;
  font-size: 48px;
  padding: 12px;
  text-align: center;
  font-weight: normal;
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px 5px #000; /* x, y, blur, color */
}

header {
  grid-column: span 3;
}

nav {
  grid-column: span 9;
}

nav a {
  transition: background-color 1.0s, width 2.0s, color 2.0s;
}

nav a:hover {
  background-color: #5A4B4B;
  color: black;
}

nav ul {
  list-style: none;
  margin-left: 9px;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 24px;
  margin-left: 84px;
  margin-right: 0;
}

nav li a {
  background-color: #8CCAF9;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  text-decoration: none;
  display: block;
  color: black;
  padding: 12px;
  font-style: normal;
  box-shadow: 5px 5px 0 black;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

section {
  grid-column: span 4;
  background-color: #8CCAF9;
  padding: 12px;
  margin: 0;
  font-size: 24px;
}

section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  border-bottom: 3px solid black;
}

footer {
  grid-column: span 12;
  background-color: #8CCAF9;
  padding: 6px;
  margin-top: 24px;
  font-size: 24px;
  text-align: center;
  box-shadow: 5px 5px 0 black;
}

a {
  text-decoration: none;
  color: black;
}

.gallery {
  display:inline-block;
  grid-column: span 12;
  padding: 24px;
  margin: 12px;
}
