body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

#mainimg {
  grid-column: span 12;
  margin-left: 24px;
  margin-bottom: 24px;
  padding: 0;
}

h1 {
  grid-column: span 3;
  background-color: #8CCAF9;
  font-family: helvetica, sans-serif;
  font-size: 48px;
  padding: 12px;
  text-align: center;
  font-weight: normal;
}

nav {
  grid-column: span 9;
}

nav ul {
  list-style: none;
  margin-left: 12px;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 36px;
  margin-left: 84px;
  margin-right: 0;
}

nav li a {
  background-color: #8CCAF9;
  font-family: helvetica, sans-serif;
  font-size: 48px;
  text-decoration: none;
  display: block;
  color: black;
  padding: 12px;
  font-style: normal;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

section {
  grid-column: span 4;
  background-color: #8CCAF9;
  padding: 12px;
  margin: 0;
}

section h2 {
  font-family: helvetica, sans-serif;
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  border-bottom: 3px solid black;
}

footer {
  grid-column: span 12;
  background-color: #8CCAF9;
  padding: 6px;
  margin-top: 24px;
  font-size: 24px;
  text-align: center;
}
